<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update person</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/users/{id}(id=${user.id})}" th:object="${user}">
    <label>Name</label>
    <label for="name">Enter name</label>
    <input type="text" th:field="*{name}" id="name"/>
    <br>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>

    <label>Email</label>
    <label for="email">Enter email</label>
    <input type="text" th:field="*{email}" id="email"/>
    <br>
    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>

    <input type="submit" value="Update person"/>
</form>
</body>
</html>
